/* Design for index.jsp */
img {
    width: 100%;
    height: 250px;
}

.menu {
    background-color: lightseagreen;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    text-align: center;
}

.cell {
    width: 15%;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}

.link:hover {
    color: red;
    cursor: pointer;
}

footer {
    background-color: lightseagreen;
    color: white;
    height: 115px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 20px;
    margin-top: 30px;
}

.fb-link {
    color: white;
    text-decoration: none;
}

.fb-link:hover {
    color: red;
    cursor: pointer;
}

.footer-seperator {
    font-size: 20px;
}

article {
    font-size: 24px;
    font-family: sans-serif;
    text-align: justify;
    width: 950px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    line-height: 1.6;
}

/* Design for about-me.html */
#avatar {
    float: left;
    width: 30%;
    height: 270px;
    margin-top: 90px;
    margin-left: 30px;
}

#profile-container {
    float: right;
    width: 48%;
    padding-right: 70px;
    font-size: 20px;
    line-height: normal;
}

.info {
    font-size: 20px;
}

/* Design for assignments.html */
#week {
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid blue;
}

#week:hover {
    background-color: lightblue;
    cursor: pointer;
}

#btnChoose {
    width: 90px;
    padding-top: 4px;
    font-size: 20px;
    background-color: lightseagreen;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#btnChoose:hover {
    cursor: pointer;
    background-color: red;
}

blockquote {
    font-family: 'Font Awesome 5 Free';
    font-size: 40px;
    color: grey;
    margin-top: 0px;
    padding-left: 180px;
    opacity: 40%;
}

hr {
    width: 500px;
}

/* Design for show-assignments.jsp */
.exercise-table {
    margin-left: 100px;
    border-collapse: collapse;
}

.row-of-table {
    height: 70px;
    background-color: lightgray;
    border: 2px solid black;
}

.icon-cell {
    text-align: center;
    font-size: 50px;
    width: 15%;
}

.exercise-cell {
    width: 650px;
    font-family: sans-serif;
    font-size: 30px;
}

.exercise-link {
    text-decoration: none;
    color: black;
}

.exercise-link:hover {
    font-weight: bold;
    color: orange;
}